<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.po.Dept">
    <resultMap id="empByDept" type="org.example.po.Dept">
        <id property="deptid" column="deptid"></id>
        <result property="dname" column="dname"></result>
        <collection property="les" ofType="org.example.po.Emp">
            <id column="empid" property="empid"></id>
            <result column="ename" property="ename"></result>
            <result column="hiredate" property="hiredate"></result>
            <result column="logid" property="logid"></result>
        </collection>
    </resultMap>
    <select id="getAll" resultMap="empByDept">
        select e.*,d.dname from emp e INNER JOIN dept1 d ON e.deptid = d.deptid WHERE d.dname = "医疗";
    </select>

    <select id="getAllTwo" resultMap="empByDept">
        SELECT e.*,o.* FROM emp e inner JOIN emp2obj e2o on e.empid = e2o.empid
        INNER JOIN obj o on o.objid = e2o.objid;
    </select>
</mapper>
